<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munchies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
crossorigin="anonymous"
/>
</head>

<body>
    <div class="jumbotron">
        <h1 class="dashBoard">Munchies</h1>
    </div>
    <div class="row">
        
        <div class="col-4"><h2>Menu</h2><br>
   
            <button class="menubottons" id="favmeal"> Favorite Meals</button>
            <br>
             <button class="menubottons" id="favdrink"> Favorite Drinks</button>
             <br>
              <button class="menubottons" id="history"> Restaurant History</button>
              <br>
               <button class="menubottons" id="bycity"> Restaurant by City</button>
        </div>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" id="nearby" placeholder="Search Random Restaurant" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="citySearchBtn">
                        <i class="fas fa-search"></i> </button>
                        <br>
                        <input type="text" class="form-control" id="favsearch" placeholder="Search Favorites" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" id="citySearchBtn">
                                <i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-6"><h2 style="color: yellow;">Recently Visited</h2>
            <box>Restaurant #1</box>  <box>Restaurant #2</box>
            <br>
            <br>
            <br>
            <br>
            <box>Restaurant #3</box>  <box>Restaurant #4</box>
        </div>
       
</body>
</html>