{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Restaurant</h5>
          <p>
            <strong>ID</strong>: {{restaurant.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{restaurant.name}}</p>
          <p>
            <strong>Description:</strong> {{restaurant.description}}</p>
            <a href="/restaurant">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}
