body {
  background-image: url("pexels-emiliano-arano-3608311.jpg");
}

#home {
  margin-right: -20px;
  background-image: url(../img/restaurantpage.png);
}

.form-group {
  margin-right: 50px;
}

.restaurantdetails {
  background-image: url("../img/restaurantdetailbackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.linkbtn {
  color: lightblue;
}

.navbar .nav-item .nav-link {
  color: lightblue;
}

.navbar .navbar-brand {
  text-align: center;
  color:lightblue;
  font-size: 30px;
  padding-left: 300px;
}

#home {
  background-image: url(../img/restaurantpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 130px;
  margin-right: -2px;
}

#belong {
  color: brown;
  font-weight: 800;
  font-size: 40px;
}

.jumbotron {
  background-image: url("../img/homeimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lead {
  font-weight: bold;
  color: lightblue;
  font-size: 70px;
}

.log {
  font-weight: bold;
  font-size: 30px;
  color: blue;
}
