
#home {
  margin-right: -20px;
  background-image: url(../img/restaurantpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 170px;
}

.form-group {
  margin-right: 50px;
}

.restaurantdetails {
  background-image: url("../img/restaurantdetailbackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.linkbtn {
  color: lightblue;
}

.navbar .nav-item .nav-link {
  color: lightblue;
  font-size: 20px;
}

.navbar .navbar-brand {
  text-align: center;
  color:lightblue;
  font-size: 40px;
}

#belong {
  color: brown;
  font-weight: 800;
  font-size: 40px;
}

.jumbotron {
  margin-top: 105px;
  background-image: url("../img/homeimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 12px solid lightblue;
}

.lead {
  margin-top: 60px;
  font-weight: bold;
  color: lightblue;
  font-size: 60px;
}

.log {
  font-weight: bold;
  font-size: 30px;
  color: lightblue;
}

.mainBody{
  background-image: url("../img/restauranthome.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#profile{
  background-image: url("../img/profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 230px;
  padding-top: 50px;
  margin-top: -25px;
  margin-right: -10px;
}
.profilecontainer{
 margin-left: 330px;
 margin-top: 10px;
 border: 3px solid purple;
 width: 50%;
 color: darkcyan;
 padding-bottom: 30px;
 background-color: white;
text-align: center;

}
.registercontainer{
  background-image: url("../img/profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 230px;
  padding-top: 50px;
  margin-top: -25px;
  margin-right: -10px;
  padding-right: 750px;
}

#register{
  margin-left: 400px;
 margin-top: 30px;
 border: 3px solid purple;
 color: darkcyan;
 padding-bottom: 30px;
 background-color: white;
text-align: center;
padding-right: 150px;
padding-left: 55px;


}