body {
  background-image: url("pexels-emiliano-arano-3608311.jpg");
}
#home{
  margin-right: -20px;
}
.form-group{
  margin-right: 50px;
}

.restaurantdetails {
  background-image: url("../img/restaurantdetailbackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.linkbtn {
  color:lightblue;
}
<<<<<<< HEAD
  
=======

>>>>>>> ddddb59c2e600ec1ad95c77a3612fbd4009804ae
.navbar .nav-item .nav-link {
  color: lightblue;
}

.navbar .navbar-brand {
  text-align: center;
  color:lightblue;
  padding-left: 300px;
}


#home{
  background-image: url(../img/restaurantpage.png);
}

#belong{
  color: brown;
  font-weight: 800;
font-size: 40px;
}

