<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <!-- Brand/logo -->
<<<<<<< HEAD
  <a class="navbar-brand" href="/">Munchies</a>
=======
  <a class="navbar-brand" href="/" style="font-size:40px">Munchies</a>
>>>>>>> 6463b78d91f462dd7fe2bb9cb5a42b36f3b0e1e6
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="/restaurant">Restaurant page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="login-modal" style="margin-left: -10px;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
